//============
//------Variables------
//============
$backgroundColour : rgb(40,36,36);
$linkColor: rgb(196, 174, 221);
$footerColour: rgb(27, 27, 27);
$inputColour : rgb(61, 55, 55);

$navColour: rgb(29, 26, 26);
$navSecondary:rgb(14, 12, 12);

$buttonGreenColour: rgb(85, 147, 85);
$buttonHoverColour: rgb(64, 118, 84);

$loadingColour: rgb(43,40,48);

//============
//------Fonts------
//============
@font-face{
    font-family: Montserrat;
    src:url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face{
    font-family:Avenir;
    src:url(./fonts//AvenirLTStd-Roman.otf);
}

//============
//------Functions------
//============
@mixin flexCenter($direction) {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;

    flex-direction: $direction;
}

@mixin marginSides($aspect){
    margin-left: $aspect;
    margin-right: $aspect;
}

@mixin marginVertical($aspect){
    margin-top: $aspect;
    margin-bottom: $aspect;
}

@mixin inputValues(){
    width:70vh;

    padding:1vh;

    font-family: Avenir;
    font-size: 2.5vh;
    color: white;

    border-color: white;
    border: 0;
}


//============
//------Styles------
//============
html{
    scroll-behavior: smooth;

    ::-webkit-scrollbar{
        width:0.25rem;
    }

    ::-webkit-scrollbar-track{
        background: black;
    }

    ::-webkit-scrollbar-thumb{
        background: $linkColor;
    }
}

body{   
    background-image: url(../images/bg.png);
    background-size:100%;
    background-attachment: fixed;

    margin: 0px auto;

    overflow: hidden;
}

.navbar{
    background-color:$navColour;

    z-index:100;

    position:fixed;

    transition: width 200ms ease;

    .navbar-nav{
        list-style: none;
        padding: 0;
        margin:0;

        height: 100%;

        display:flex;
        align-items: center;

        .nav-item{
            width:100%;

            .nav-link{
                display:flex;
                align-items: center;
    
                height: 5rem;
    
                color:$linkColor;
                font-family: Montserrat;
                text-decoration:none;

                filter: grayscale(100%) opacity(0.7);
                transition: 200ms ease;
    
                .link-text{
                    display:none;
                    margin-left:1rem;
                }
    
                img{
                    min-width:2rem;
                    margin: 0 1.5rem;
                }
    
                &:hover{
                    background:$navSecondary;

                    filter: grayscale(0%) opacity(1);
                }
            }
        }
    }
}

main{
    color: white;

    margin-left:5rem;

    .intro-div{
        @include flexCenter(row-reverse);
        @include marginSides(10vh);

        margin-bottom: 10vh;

        font-family: Avenir;

        .intro-p{
            margin-right: 10vh;
            width:50vh;
        }
        img{
            border-radius:50%;
            width: 50vh;
        }
        a{
            color:$linkColor;
            text-decoration: none;
        }

        h2{
            font-size: 5vh;
        }
    }

    .arrow-div{
        @include flexCenter(row);
        
        .white-arrow{
            width:10vh;
            animation: up-down 1s ease-out infinite alternate;
        }
    }

    .work-div{
        @include marginSides(20vh);

        background-color: $backgroundColour;

        .work-header{
            @include flexCenter(row);
        }

        .work-category{
            @include flexCenter(row);

            font-family: Avenir;
            font-size: 5vh;

            margin-bottom: 2vh;
        }

        .game-section, .illustration-section, .model-section, .pixel-section{
            @include marginVertical(10vh);
        }

        .image-container{
            @include flexCenter(row);

            .illustration-content{
                height:40vh;
            }

            .model-content{
                height: 50vh;
            }

            .pixel-content{
                height: 50vh;
            }

            .game-div{
                @include flexCenter(row);

                .game-media{
                    width:80vh;
                    height:45vh;
                }

                .game-title{
                    width:30vh;
                    margin-top: 5vh;
                }

                .game-p{
                    margin-left:10vh;
                    width:50vh;

                    font-family: Avenir;
                    font-size: 2.5vh;

                    a{
                        color: $linkColor;
                        text-decoration: none;
                    }
                }
            }

            figcaption{
                @include flexCenter(row);
                font-family: Avenir;
            }
        } 
    }

    .contact-div{
        font-family: Avenir;

        form{
            @include flexCenter(column);

            .one-line-input{
                @include inputValues();

                background-color: $inputColour;
            }
    
            .multi-line-input{
                @include inputValues();

                background-color: $inputColour;
                height:30vh;
            }

            .button-class{
                width:15vh;
                height:5vh;

                border:none;
                border-radius: 4px;
                
                color:white;
                background-color: $buttonGreenColour;

                font-family: Avenir;
                font-size: 2.5vh;

                &:hover{
                    background-color: $buttonHoverColour;
                }
            }

            h4{
                margin-bottom: 1vh;
            }

            h2{
                margin:0.5vh;
                font-size: 5vh;
            }
        }
    }
}

footer{
    @include flexCenter(column);

    background-color: $footerColour;
    color:white;

    font-family: Avenir;

    .social-media-div{
        @include flexCenter(row);
        margin-left:5rem;

        a{
            text-decoration: none;

            .social-icon{
                @include marginSides(2.5vh);

                margin-bottom: 5vh;

                width:5vh;

                fill:white;
            }
        }
    }

    p{
        margin-left:5rem;
    }
}

#loader{
    background: $loadingColour;

    height: 100vh;
    width:100%;

    position:fixed;
    z-index: 1000;

    .loading-gif{
        position:absolute;
        margin:auto;

        top:0;
        bottom:0;
        left:0;
        right:0;

        width:10vw;
    }
}


//============
//------Animations------
//============
@keyframes up-down{
    0%{
        transform:translateY(0);
    }
    100%{
        transform: translateY(25%);
    }
}

//============
//------Media Queries------
//============
@media only screen and (max-width: 600px){
    .navbar{
        bottom:0;
        width:100vw;
        height: 5rem;
    }

    .navbar-nav{
        flex-direction: row;
    }

    .nav-link{
        justify-content: center;
    }

    main{
        margin:0;
    }
}

@media only screen and (min-width: 600px){
    .navbar{
        top:0;
        width:5rem;
        height:100vh;
    }

    .navbar:hover{
        width:16rem;

        .link-text{
            display:inline !important;
        }
    }

    .navbar-nav{
        flex-direction: column;
    }
}

