@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(./fonts//AvenirLTStd-Roman.otf);
}

body {
  background-color: #282424;
  margin: 0px auto;
}

header {
  background-color: #282424;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .navlink {
  color: white;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-decoration: none;
  font-size: 3vh;
  font-family: Montserrat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .navlink:hover {
  font-size: 4vh;
  color: #c4aedd;
}

main {
  color: white;
}

main .intro-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-family: Avenir;
}

main .intro-div .intro-p {
  margin-right: 10vh;
  width: 50vh;
}

main .intro-div img {
  border-radius: 50%;
  width: 50vh;
}

main .intro-div a {
  color: #c4aedd;
}

main .arrow-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .arrow-div .white-arrow {
  width: 10vh;
  -webkit-animation: up-down 1s ease-out infinite alternate;
          animation: up-down 1s ease-out infinite alternate;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b1b1b;
  color: white;
  font-family: Avenir;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}
/*# sourceMappingURL=style.css.map */