@font-face {
  font-family: Montserrat;
  src: url(./fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: Avenir;
  src: url(./fonts//AvenirLTStd-Roman.otf);
}

html ::-webkit-scrollbar {
  width: 0.25rem;
}

html ::-webkit-scrollbar-track {
  background: black;
}

html ::-webkit-scrollbar-thumb {
  background: #c4aedd;
}

body {
  background-color: #282424;
  margin: 0px auto;
}

header {
  background-color: #282424;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav .navlink {
  color: white;
  margin-left: 20vh;
  margin-right: 20vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-decoration: none;
  font-size: 3vh;
  font-family: Montserrat;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header nav .navlink:hover {
  font-size: 4vh;
  color: #c4aedd;
}

main {
  color: white;
}

main .intro-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-family: Avenir;
}

main .intro-div .intro-p {
  margin-right: 10vh;
  width: 50vh;
}

main .intro-div img {
  border-radius: 50%;
  width: 50vh;
}

main .intro-div a {
  color: #c4aedd;
}

main .arrow-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .arrow-div .white-arrow {
  width: 10vh;
  -webkit-animation: up-down 1s ease-out infinite alternate;
          animation: up-down 1s ease-out infinite alternate;
}

main .work-div {
  margin-left: 20vh;
  margin-right: 20vh;
}

main .work-div .work-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .work-div .work-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Avenir;
  font-size: 5vh;
  margin-bottom: 2vh;
}

main .work-div .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .work-div .image-container .illustration-content {
  height: 40vh;
}

main .work-div .image-container .model-content {
  height: 50vh;
}

main .work-div .image-container .pixel-content {
  height: 50vh;
}

main .work-div .image-container .game-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .work-div .image-container .game-div .game-media {
  width: 80vh;
  height: 45vh;
}

main .work-div .image-container .game-div .game-title {
  width: 30vh;
  margin-top: 5vh;
}

main .work-div .image-container .game-div .game-p {
  margin-left: 10vh;
  width: 50vh;
  font-family: Avenir;
  font-size: 2.5vh;
}

main .work-div .image-container .game-div .game-p a {
  color: #c4aedd;
  text-decoration: none;
}

main .work-div .image-container figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: Avenir;
}

main .contact-div {
  font-family: Avenir;
}

main .contact-div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact-div form .one-line-input {
  width: 70vh;
  padding: 1vh;
  font-family: Avenir;
  font-size: 2.5vh;
  color: white;
  border-color: white;
  border: 0;
  background-color: #3d3737;
}

main .contact-div form .multi-line-input {
  width: 70vh;
  padding: 1vh;
  font-family: Avenir;
  font-size: 2.5vh;
  color: white;
  border-color: white;
  border: 0;
  background-color: #3d3737;
  height: 30vh;
}

main .contact-div form .button-class {
  width: 15vh;
  height: 5vh;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #559355;
  font-family: Avenir;
  font-size: 2.5vh;
}

main .contact-div form .button-class:hover {
  background-color: #407654;
}

main .contact-div form h4 {
  margin-bottom: 1vh;
}

main .contact-div form h2 {
  margin: 0.5vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b1b1b;
  color: white;
  font-family: Avenir;
}

@-webkit-keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@keyframes up-down {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}
/*# sourceMappingURL=style.css.map */